<div class="col-xs-6 col-md-3 col-lg-3 m-b-5">
  <%= gravatar_for user, size: 50 %> <br>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user)%>
    <p>
      <%= link_to "Delete", user, method: :delete,
                  data: { confirm: "You sure?" } %>
    </p>


  <% end %>
  <p>

  </p>
</div>